* {
    color: #fff;
}

.grid__container {
    background-color: #1a1a1a;
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    grid-auto-rows: 1fr;

    grid-template-areas: 
    ". . . . . . . ."
    ". heading heading heading heading heading . ."
    ". heading heading heading heading heading . ."
    ". heading heading heading heading heading join .";
}

.heading {
    grid-area: heading;
}

.heading h2 {
    font-size: 13px; 
    line-height: 23px;
    letter-spacing: 1.5px;
    color: #ffffff;
    opacity: 0.5;
    border-left: 1px solid;
    padding-left: 1rem;
}

.heading h1 {
    font-weight: 600;
    font-size: 72px;
    line-height: 72px;
    letter-spacing: -1px;
    color: #ffffff;
}

.join {
    grid-area: join;
    aspect-ratio: 1 / 1;
    background-color: #FEBE02;
    position: relative;
}

.join h2 {
    color: black; 
}