@font-face {
    font-family: "Roboto";
    src: url('./Roboto-BlackItalic.ttf');
}

html {
    font-size: 16px;
}

h1 {
    font-family: Roboto, Arial, Helvetica, sans-serif;
}
p {
    font-size: 1.2em;
}

span {
    font-size: 1.5em;
}
