body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgb(238, 238, 238);
    color: rgb(51, 51, 51);
    line-height: 25px;
}

h1, h2 {
    font-family: 'Times New Roman', Times, serif;
}

h2 {
    /* font-size: 1.8rem; */
}

h1 {
    margin:auto;
    font-size: 1.8rem;
}

article {
    width: 700px;
    padding: 20px 0px 0px 20px;
    display: inline-block;
}

aside {
    width: 300px;
    display: inline-block;
    vertical-align: top;
}

img {
    width: 600px;
}