/* @import "font-awesome"; */


body {
    margin: 0;
    padding: 0;
}

div.viewport {
    width: 100vw;
    height: 50vh;
    /* position: relative; */
}

div:first-of-type {
    background-image: linear-gradient(#0c5780, #14ac9a);
}

div:last-of-type {
    background-image: linear-gradient(#ff8a00, #e52e71);
}

section.card {
    position: relative;
    aspect-ratio: 1 / 1;
    width: 25%;
    margin: 0 auto;
    overflow: hidden;
}

img {
    object-fit: cover;
    position: absolute;
    width: 100%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}