@font-face {
    font-family: "Sentinel A";
    src: url('http://fonts.cdnfonts.com/css/sentinel');
}
@font-face {
    font-family: "Sentinel B";
    src: url('http://fonts.cdnfonts.com/css/sentinel');
}



body {
    text-align: center;
}

article h1 {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-family: serif;
    font-weight: 400;
    line-height: 1.15;
    color: #747474;
    /* text-transform: uppercase; */
}

article span
article p {
    font-family: sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.46;
    color: #5c5a5a;
}

