body {
    background-color: lightgray;
}

li {
    box-sizing: content-box;
    border: 0.4rem solid black;
    display: inline-block;
    height: auto;
    list-style: none;
    padding: 10px;
    background-color: white;
    vertical-align: middle;
}

img {
    vertical-align: bottom;
    height: auto;
    max-width: 300px;
}

.gallery {
    text-align: center;
}