.article {
    width: 500px;
    height: 200px;
    background-color: lightgrey;
    padding: 10px;
    overflow: auto;
}

.article .article__title {
    text-transform: uppercase;
    text-align: center;
}

.article .article__subtitle {
    text-align: center;
}

.article .article__desc {
    text-indent: 30px;
}