body {
    background-color: #e4e978;
    margin: 15px 10px;
    padding: 5px 15px;
}

article {
    background-color: ;
    border: 1px solid #b2ad7d;
}

section>article {
    
    font-style: italic;
}

article {

}

/* 5px 15px */
/* color: #5c6e91 */
