div#triangle {
    width: 0;
    height: 0;
    border-top: 10px solid yellow;
    border-left: 10px solid white;
    border-right: 10px solid white;
    border-bottom: 10px solid green; 
    margin:  auto;
}